* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}
caption {
  font-size: 30px;
  margin: 10px;
}
table {
  border: 1px solid black;
  margin: 20px auto;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border: 1px solid black;
  min-width: auto;
}
thead {
  background-color: gray;
}
